<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>
<button class="button"><a href="../">back</a></button>

{% if rankings %}
    <table style="width:40%">
        <caption>Table</caption>
        <tr>
         <th>Name</th>
         <th>Count</th>
        </tr>
        {% for entry in rankings %}
            <tr>
            <td>{{entry.name}} </td>
            <td>{{entry.count}} </td>
        {% endfor %}
            </tr>
    </table>
{% else %}
    <p>No results are available.</p>
{% endif %}

</body>
</html>